@import '../../styles/index.scss';

.btn {
    font-family: $font-game;
    box-shadow: 0 0.5em 0.5em -0.4em rgba(0, 0, 0, 0.2);
    width: fit-content;
    z-index: 10;

    &-normal {
        button {
            font-size: $lg;
            padding: $md $xl * 2;
        }
    }

    button {
        font-family: inherit;
        color: inherit;
        text-transform: uppercase;
        display: inline-block;
        border: none;
        height: 100%;
        width: 100%;
        cursor: pointer;
        outline: none;
        transition: all 0.3s;
        border-radius: $xs;

        &:hover,
        &:focus {
            filter: hue-rotate(-15deg);
            transform: translateY(-1px);
            box-shadow: 0 0.5em 0.5em -0.4em rgba(0, 0, 0, 0.7);
        }
    }

    &--w100 {
        width: 100%;
    }

    &-blue button {
        color: $col-white;
        background-color: $col-blue;
    }

    &-pink button {
        color: $col-white;
        background-color: $col-pink;
    }

    &.invalid button {
        background-color: $col-black;
        box-shadow: none;
        cursor: auto;
        transform: translateY(0);
    }
}
