@import '../../styles/index.scss';

.score {
    font-family: $font-game;
    color: $col-black;
    z-index: 2;
    height: 300px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-shadow: none;

    &__content {
        position: absolute;
        bottom: 160px;
        right: $sm;
    }

    &__title {
        font-size: $lg;
        text-align: center;
        text-transform: capitalize;
        font-weight: normal;
    }

    &__number {
        width: calc($xxl * 2.5);
        height: calc($xxl * 2.5);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 6px solid $col-success;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
            0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
            0 16px 16px rgba(0, 0, 0, 0.12);

        & span {
            font-size: calc($xl * 1.2);
        }
    }
}
