html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.w100 {
    width: 100%;
}

.app {
    min-height: 100vh;
    min-width: $app-min-width;
    width: 100%;
    background: linear-gradient(
        150deg,
        $col-orange 5%,
        $col-yellow 30%,
        $col-text-light 32%,
        $col-text-light 33%,
        $col-blue 34%,
        $col-blue 36%,
        $col-blue-sky 55%,
        $col-white
    );
}

.main-section {
    box-sizing: border-box;
    font-family: $font-main;
    height: 100%;
    max-width: $app-max-width;
    min-width: $app-min-width;
    max-height: $game-page-max-height;
    margin: 0 auto;
    position: relative;
    box-shadow: 1px 2px 15px 3px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    overflow: hidden;
    border-radius: $xs;
}

.scroll-bar {
    /* width */
    &::-webkit-scrollbar {
        width: $sm;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background-color: $col-pink;
        border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $col-sand;
        border-radius: 10px;
        transition: all 0.2s;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: darken($col-pink, 5%);
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0.7;
    }
    100% {
        opacity: 0;
    }
}
