html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.w100 {
    width: 100%;
}

.app {
    min-height: 100vh;
    min-width: $app-min-width;
    width: 100%;
    background: linear-gradient(
        150deg,
        $col-orange 5%,
        $col-yellow 30%,
        $col-text-light 32%,
        $col-text-light 33%,
        $col-blue 34%,
        $col-blue 36%,
        $col-blue-sky 55%,
        $col-white
    );
}

.main-section {
    box-sizing: border-box;
    font-family: $font-main;
    height: 100%;
    max-width: $app-max-width;
    min-width: $app-min-width;
    max-height: $game-page-max-height;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 1px 2px 15px 3px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    overflow: hidden;
    border-radius: $xs;
}
