// Colors

$col-text-light: #e2f2f2;
$col-text-dark: #0e0c0b;
$col-white: #eff1fa;
$col-black: #3c3d3d;

$col-bg-sky: #21bcff;
$col-bg-sand: #fddc7f;
$col-blue: #33869d;
$col-blue-accent: #36626a;
$col-blue-sky: #87cde7;
$col-blue-black: #214653;
$col-green-light: #c4e5dc;
$col-pink: #9e5b66;
$col-pink-light: #e38998;
$col-orange: #fa9b1e;
$col-yellow: #e8e344;
$col-sand: #ecd5b3;
$col-purple: rgb(113, 69, 113);

$col-success: #339175;
$col-alert: #e15933;

$col-bg-main: linear-gradient(
    150deg,
    $col-orange 5%,
    $col-yellow 30%,
    $col-text-light 32%,
    $col-text-light 33%,
    $col-blue 34%,
    $col-blue 36%,
    $col-blue-sky 55%,
    $col-white
);

// Sizes

$base-size: 8px;
$xs: calc($base-size * 0.5);
$sm: $base-size;
$md: calc($base-size * 1.5);
$lg: calc($base-size * 2);
$xl: calc($base-size * 2.5);
$xxl: calc($base-size * 3);

$header-height: 40px;
$ranking-title-height: 40px;
$ranking-player-height: 24px;
// $ranking-height: 116px;
$ranking-height: calc($ranking-title-height + ($ranking-player-height * 4));
$ranking-page-ranking-height: calc(
    $ranking-title-height + ($ranking-player-height * 4)
);
$game-page-max-height: 800px;
$beach-title-height: 95px;
$app-max-width: 500px;
$app-min-width: 375px;

// Fonts

$font-gravitas: 'Gravitas One', cursive;
$font-mogra: 'Mogra', cursive;
$font-ceviche: 'Ceviche One', cursive;
$font-shrikhand: 'Shrikhand', cursive;

$font-main: 'ZCOOL KuaiLe', sans-serif;
$font-game: 'Slackey', cursive, sans-serif;
$font-level1: 'Slackey', cursive, sans-serif;
$font-level2: 'Sunshiney', cursive, sans-serif;
$font-level3: 'ZCOOL KuaiLe', sans-serif;
$font-level4: 'Pacifico', cursive, sans-serif;
$font-level5: 'Bungee', cursive, sans-serif;
$font-level6: 'Monoton', cursive, sans-serif;
$font-bungee-shade: 'Bungee Shade', cursive, sans-serif;
$font-lato: 'Lato', sans-serif;
