// Colors

$col-text-light: #e2f2f2;
$col-text-dark: #0e0c0b;
$col-white: #eff1fa;
$col-black: #3c3d3d;

$col-blue: #33869d;
$col-blue-accent: #36626a;
$col-blue-sky: #b7dcea;
$col-blue-black: #214653;
$col-green-light: #c4e5dc;
$col-pink: #9e5b66;
$col-pink-light: #e38998;
$col-orange: #fa9b1e;
$col-yellow: #e8e344;
$col-sand: #ecd5b3;
$col-purple: rgb(113, 69, 113);

$col-success: #339175;
$col-alert: #e15933;

$col-beach-bg: linear-gradient(
    to bottom,
    $col-blue-sky 35%,
    $col-sand 35%,
    $col-sand 100%
);

// Sizes

$base-size: 8px;
$xs: calc($base-size * 0.5);
$sm: $base-size;
$md: calc($base-size * 1.5);
$lg: calc($base-size * 2);
$xl: calc($base-size * 2.5);
$xxl: calc($base-size * 3);

$header-height: 40px;
$ranking-height: 118px;
$ranking-title-height: 28px;
$game-page-max-height: 800px;
$beach-title-height: 95px;
$app-max-width: 500px;
$app-min-width: 375px;

// Fonts

$font-gravitas: 'Gravitas One', cursive;
$font-mogra: 'Mogra', cursive;
$font-ceviche: 'Ceviche One', cursive;
$font-shrikhand: 'Shrikhand', cursive;

$font-main: 'Lato', sans-serif;
$font-game: 'Pacifico', cursive;
$font-level1: 'Slackey', cursive;
$font-level2: 'Sunshiney', cursive;
$font-level3: 'ZCOOL KuaiLe', sans-serif;
$font-level4: 'Bungee Shade', cursive;
$font-level5: 'Bungee', cursive;
$font-level6: 'Monoton', cursive;
