@import '../../styles/index.scss';

.homepage {
    @extend .main-section;
    height: 100vh;
    text-align: center;
    padding: $xl;
    background: linear-gradient(
        190deg,
        $col-orange,
        $col-yellow 10%,
        $col-yellow 50%,
        $col-blue-sky 50%,
        $col-blue-sky 80%,
        $col-white 100%
    );
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__bg {
        position: absolute;
        width: 100%;
        height: auto;
        object-fit: cover;
        left: 0;
        top: calc($header-height + ($xxl * 5));
    }

    &__logo {
        position: relative;
        color: $col-pink;
        z-index: 2;

        &--text {
            color: $col-text-light;
            font-family: $font-game;
            font-size: calc($xxl * 2);
            text-transform: capitalize;

            & span:first-child {
                color: $col-blue-black;
            }

            & span:last-child {
                text-shadow: 2px 1px 2px $col-pink;
            }
        }
    }
}

.login {
    position: relative;
    color: $col-blue-black;
    font-family: $font-game;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 $xxl;
    z-index: 2;
    flex: 1;
    justify-content: end;

    &__title {
        font-size: $xxl;
        font-weight: 500;
    }

    &__input {
        width: 100%;
        margin-top: $xxl;

        &--messages {
            color: $col-pink;
            width: 100%;
            text-align: center;
        }

        &--message {
            margin-top: $md;
            font-size: $md;
            font-style: italic;
        }
    }

    &__button {
        padding: 0 $xxl;
        margin-top: $header-height;
        width: 100%;
        border-radius: $sm;
    }
}
