@import '../../styles/index.scss';

.header {
    color: $col-text-dark;
    background: $col-yellow;
    font-family: $font-game;
    height: $header-height;
    width: 100%;
    max-width: $app-max-width;
    margin: 0 auto;
    position: fixed;
    z-index: 30;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
        0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
        0 16px 16px rgba(0, 0, 0, 0.12);

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        position: relative;
    }

    &__icon-app {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        color: $col-pink;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 $sm;
    }

    &__icon-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: $lg;

        &:first-child {
            color: $col-blue-black;
            text-shadow: 1px 1px 1px $col-blue-sky;
            margin-right: 2px;
        }

        &:last-child {
            color: $col-white;
            text-shadow: 2px 1px 2px $col-pink;
            margin-left: 2px;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        column-gap: $xs;
    }

    &__item {
        display: flex;
        align-items: center;
        height: 100%;
    }

    &__goback {
        color: $col-pink;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: $sm 0 0 $xs;
        transition: all 0.2s;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__account {
        font-size: $md;
        padding: 0 $xs;
        display: flex;
        align-items: center;
        column-gap: $md;

        &--icon {
            position: relative;
            width: 20px;
            height: 20px;

            .header__menu--input {
                display: none;

                &:checked + .header__menu--label div:first-child {
                    transform: translateY(6px) rotate(45deg);
                }

                &:checked + .header__menu--label div:last-child {
                    transform: translateY(-7px) rotate(-45deg);
                }

                &:checked + .header__menu--label div:nth-child(2) {
                    opacity: 0;
                }
            }

            .header__menu--label {
                height: 16px;
                width: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border-radius: 100%x;
                transition: all 0.3s;
                cursor: pointer;

                & div {
                    height: 3px;
                    width: 100%;
                    display: block;
                    position: relative;
                    background-color: $col-pink;
                    border-radius: 10px;
                    transition: all 0.4s;
                }
            }
        }

        &--name {
            color: $col-blue-accent;
            text-transform: capitalize;
            margin-bottom: calc($xs * 0.5);
        }
    }
}

/* Animations */

@keyframes rotateR {
    from {
        transform: translateY(0px) rotate(0);
    }
    to {
        transform: translateY(20px) rotate(45deg);
    }
}

@keyframes rotateL {
    from {
        transform: translateY(0px) rotate(0);
    }
    to {
        transform: translateY(0) rotate(-45deg);
    }
}

@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
