@import '../../styles/index.scss';

.beach {
    width: 100%;
    height: 100vh;
    max-height: $game-page-max-height;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.3s;
    z-index: 1;

    &__title {
        &--container {
            flex-shrink: 0;
            flex-grow: 0;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: $beach-title-height;
            transition: height 0.75s;
            margin: $lg 0;
        }

        &--name {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &--location,
        &--country {
            transition: all 2s;
            text-transform: capitalize;
            position: absolute;
        }

        &--location {
            left: 2%;
        }

        &--country {
            right: 2%;
        }
    }
}

.level-1 {
    font-family: $font-level1;
    font-size: $xxl;
    color: $col-blue-black;
    background: linear-gradient(
        170deg,
        $col-blue,
        $col-blue-sky 35%,
        $col-white 70%,
        $col-white 100%
    );
    .beach__title--location,
    .beach__title--country {
        font-size: $md;
    }
}

.level-2 {
    font-family: $font-level2;
    font-size: $xxl * 2;
    color: $col-orange;
    background: linear-gradient(170deg, $col-white 5%, $col-green-light 50%);

    .beach__title--location,
    .beach__title--country {
        font-size: $xxl;
    }
}

.level-3 {
    font-family: $font-level3;
    font-size: $xxl * 1.3;
    color: $col-white;
    text-shadow: 1px 1px 1px $col-blue-black;
    background: linear-gradient(140deg, $col-pink-light, $col-white 80%);

    .beach__title--location,
    .beach__title--country {
        font-size: $xl;
    }
}

.level-4 {
    font-family: $font-level4;
    color: $col-black;
    text-shadow: 1px 1px 1px $col-white;
    font-size: $xxl * 1.5;
    letter-spacing: $xs;
    background: linear-gradient(
        170deg,
        $col-alert,
        $col-yellow 50%,
        $col-white 70%,
        $col-white 100%
    );

    .beach__title--location,
    .beach__title--country {
        color: $col-white;
        text-shadow: 1px 1px 1px $col-black;
        font-size: $lg;
    }
}

.level-5 {
    font-family: $font-level5;
    color: $col-alert;
    font-size: $xxl * 1.1;
    background: linear-gradient(170deg, $col-white, $col-yellow);

    .beach__title--location,
    .beach__title--country {
        font-size: $xl;
    }
}

.level-6 {
    font-family: $font-level6;
    color: $col-alert;
    font-size: $xxl * 1.1;
    background: linear-gradient(170deg, $col-black, $col-alert);

    .beach__title--location,
    .beach__title--country {
        font-size: $lg;
    }
}

.level-7 {
    font-family: $font-level6;
    color: $col-alert;
    font-size: $xxl * 1.1;
    background: linear-gradient(170deg, $col-white, $col-yellow);

    .beach__title--location,
    .beach__title--country {
        font-size: $lg;
    }
}

.ranking-hide {
    height: 100vh;
    max-height: $game-page-max-height;
    .beach__title--container {
        height: $beach-title-height + $header-height + $ranking-title-height +
            ($xxl * 3);
    }

    .beach__title--location,
    .beach__title--country {
        transition: all 2s;
        top: 80%;
    }
}

.ranking-show {
    height: calc(
        100vh - $header-height - $ranking-title-height -
            ($ranking-player-height * 4)
    );
    max-height: $game-page-max-height - $ranking-height - $header-height;
    .beach__title--container {
        transition: height 1.5s;
        height: $beach-title-height;
    }

    .beach__title--location,
    .beach__title--country {
        transition: all 2s;
        bottom: -30%;
    }
}
