@import '../../styles/index.scss';

.ranking {
    font-family: $font-main;
    height: $ranking-height;
    width: 100%;
    max-width: $app-max-width;
    margin: 0 auto;
    background-color: $col-pink;
    z-index: 3;
    overflow-y: scroll;
    transition: all 0.3s;

    /* width */
    &::-webkit-scrollbar {
        width: $sm;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background-color: $col-sand;
        border-radius: 10px;
        margin-top: calc($header-height + $ranking-title-height + $xxl);
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $col-pink;
        border-radius: 10px;
        transition: all 0.2s;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: darken($col-pink, 5%);
    }

    &__header {
        cursor: pointer;
        background-color: inherit;
        position: fixed;
        top: $header-height;
        height: calc($header-height - $md);
        width: 100%;
        max-width: $app-max-width;
        z-index: 3;
    }

    &__arrow {
        color: $col-white;
        position: fixed;
        top: calc($header-height + 9px);
        left: 50%;
        transform: translateX(-50%);

        animation: arrow-move infinite 1.5s ease-in-out;
    }

    &__title {
        color: $col-white;
        font-size: $md;
        text-align: center;
        padding: 2px 0;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: $xs;
        height: $ranking-title-height;
    }

    &__stats {
        margin-top: calc($header-height - $md);
        color: $col-blue-black;
        text-align: center;
        width: 100%;
        height: $ranking-player-height;
        max-width: $app-max-width;
        font-size: $md;
        font-weight: 700;
        text-transform: capitalize;
        display: grid;
        grid-template-columns: $xxl repeat(3, 1fr);
        grid-template-rows: auto;
        align-items: center;
        background-color: $col-yellow;
        position: fixed;
        top: $header-height;
        z-index: 2;
        transition: all 0.3s;
    }

    &__data {
        position: relative;
        transition: all 0.3s;
        z-index: 1;
    }

    &__players {
        height: $ranking-player-height;
        font-size: $md;
        display: grid;
        grid-template-columns: $xxl repeat(3, 1fr);
        grid-template-rows: auto;
        align-items: center;

        &--player {
            text-align: center;
        }

        &:nth-child(odd) {
            background-color: $col-green-light;
        }

        &:nth-child(even) {
            background-color: $col-text-light;
        }
    }
}

@keyframes arrow-move {
    0% {
        transform: translate(-50%, 0);
    }
    50% {
        transform: translate(-50%, 2px);
    }
    100% {
        transform: translate(-50%, 0);
    }
}

.ranking-hide {
    height: 0;
    .ranking__data {
        margin-top: 0;
    }
    .ranking__stats {
        top: -$header-height;
    }
}

.ranking-show {
    height: calc(
        $header-height + $ranking-title-height + ($ranking-player-height * 4)
    );
    .ranking__data {
        margin-top: calc(
            $header-height + $ranking-title-height + $ranking-player-height
        );
    }
    .ranking__stats {
        top: $header-height;
    }
}
