@import '../../styles/index.scss';

.gamepage {
    @extend .main-section;

    &__button {
        position: absolute;
        left: 50%;
        bottom: $md;
        transform: translateX(-50%);
        display: inline-block;
        margin: 0 auto;
        z-index: 10;
    }
}

.beach__flash-message {
    text-transform: capitalize;
    text-align: center;
    height: 50px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 200px;
    z-index: 20;
    transition: all 0.4s;

    p {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translateX(-50%);
    }

    &--levelup {
        color: $col-success;
    }

    &--countdown {
        color: $col-success;
        font-size: calc($xxl * 2);
        font-family: $font-level1;
    }

    &--gameover {
        color: $col-alert;
        font-size: $xxl;
        font-family: $font-level6;
        font-weight: 700;
        animation: fade-out 4s ease-out forwards;
    }

    &--ranking3 {
        color: $col-success;
    }

    &--ranking2 {
        color: $col-orange;
    }

    &--ranking1 {
        color: $col-pink-light;
        text-shadow: 1px 1px 1px $col-black;
    }
}

.ranking-show {
    max-height: unset;
}

.ranking-hide {
    max-height: $game-page-max-height;
}
