@import '../../styles/index.scss';

.input {
    width: 100%;

    &-fieldset {
        border-radius: $sm;
        border: 1px solid $col-blue-accent;

        &__legend {
            padding: 0 $sm;
            margin-left: $sm;
        }

        &--invalid {
            border-radius: $sm;
            border: 1px solid $col-pink;
        }
    }

    &-input,
    &-input:active {
        color: $col-blue-black;
        font-family: inherit;
        font-size: $xl;
        display: block;
        border: none;
        outline: none;
        background-color: transparent;
        width: 100%;
        height: 100%;
        margin: $sm $md;
    }
}
